TOKEN=YOUR_DISCORD_BOT_TOKEN_HERE
API=https://api.earthmc.net/v4/
PLAYERS_API_URL=https://api.earthmc.net/v4/players
TOWNS_API_URL=https://api.earthmc.net/v4/towns
NATIONS_API_URL=https://api.earthmc.net/v4/nations
MAP_BASE_URL=https://map.earthmc.net/

ADMIN_ID=YOUR_DISCORD_ID_HERE

DB_HOST=YOUR_DATABASE_HOST_HERE
DB_PORT=YOUR_DATABASE_PORT_HERE
DB_USER=YOUR_DATABASE_USERNAME_HERE
DB_PASS=YOUR_DATABASE_PASSWORD_HERE
DB_NAME=YOUR_DATABASE_DATABASE_HERE